.calendar {
    display: inline-grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: #eeeeee; /* Cambia el color de fondo a tu preferencia */
}

.day{
    padding: 0.5rem
}